body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

header {
    background: url(../img/bgtop.png);
    background-size: cover;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.banner {
    width: 30%;
}

nav {
    position: absolute;
    top: 60px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 10px;
    margin: 0 0 0 25px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.menugeral .menuhome a:hover {
    color: #3dcc3e;
}

.menugeral .menuprodutos a:hover {
    color: #e8c219;
}

.menugeral .menucontatos a:hover {
    color: #361199;
}

.menugeral .menuo_coach a:hover {
    color: #e51050;
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    /* coloca os itens em linha */
    text-align: center;
    max-width: 30%;
    /* garante tamanhos de 1/3 da pagina */
    vertical-align: top;
    /* alinha as ilustracoes pela linho do top delas */
    height: 400px;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* para o espacamento lateral esteja dentro do % sem somar os pixel e quebrar a linha */

    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: lightgray;
}

.produtos li:active {
    border-color: white;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 30px;
}

.ilustracao {
    width: 80%;
    height: 50%;

}

.descricao {
    height: 54px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}

.radio-fieldset,
.horario-fieldset,
.checkbox,
.enviar {
    margin-top: 30px;
}

.opcoes-contato {
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 5px 15px;
    width: 50%;
}

footer {
    background: url(../img/bg.jpg);
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 11px;
}

.bannerwhite {
    width: 15%;
    padding-bottom: 20px;
}

.enviar {
    display: block;
    width: 30%;
    padding: 15px 0;
    background: #3dcc3e;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: 0.7s all;
    /* tempo de transisao dos efeitos de cor e tamanho do botao */
    cursor: pointer;
}

.enviar:hover {
    background: #e8c219;
    transform: rotate(-3deg) scale(1.2);
    /* aumenta o tamaho do botão ao passar o mouse por cima */
}

table {
    margin: 20px 0 40px;
}

thead {
    background: lightgray;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid black;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) {
    .caixa {
        width: 100%;
        display: flex;
    }

    .banner {
        width: 50%;
        height: 40%;
        display: inline-block;
        padding-left: 10px;
        margin: auto;
    }

    .menugeral {
        padding: 0 10px 0 5px;
    }

    nav {
        position: static;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        text-decoration: underline;
        line-height: 1.7;
    }

   .texto-checkbox {
    font-size: 85%;
   }

     form, table {
        max-width: max-content;
        margin-left: 2em;
    }

    .bannerwhite {
        width: 50%;
    }

}