/* CSS deve ser escrito na msm ordem que a html para facilitar a debugacao */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    /* background: linear-gradient(90deg, 50%white, 25% #fefefe , 25% lightgray); 
    fundo de gradiente com 3 cores e inclinacao em graus, a % dita a qtd que a cor vai ocupar na tela*/
}

header {
    background: url(../img/bgtop.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* padding: 20px 0; */
}

/* main {
    margin: 0 150px 0 150px;
} */

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.banner {
    width: 30%;
}

nav {
    position: absolute;
    top: 60px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 10px;
    margin: 0 0 0 25px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* retira o risco debaixo do link */
}

.menugeral .menuhome a:hover {
    color: #3dcc3e;
}

.menugeral .menuprodutos a:hover {
    color: #e8c219;
}

.menugeral .menucontatos a:hover {
    color: #361199;
}

.menugeral .menuo_coach a:hover {
    color: #e51050;
}

#banner {
    /* Cita uma id criada */
    width: 20%;
    display: block;
    margin: 0px auto;

}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

.faixa-titulo {
    margin: 20px;
    font-size: 28px;
}

.img-coach {
    width: 120px;
    float: left;
    /* A imagem flutua mas os paragrafos respeitam sua sombra q foi definida como "left" */
    margin: 0 20px 20px 0;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 7px 7px 5px lightgrey;
}

.principal {
    padding: 20px 150px 20px 150px;
}

.principal p {
    margin: 0 0 1em;
    font-size: 18px;
}

.principal em {
    font-style: italic;
}

#missao {
    font-size: 20px
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    /* 2x o tamanho base quando usamos o em * - padrao do navegador 16 */
    margin: 0 0 1em;
    clear: left;
    /* Limpa o "flooting: left" */
}

/* deixa a primeira letra da frase em negrito, nao esta funcionando por causa da fonte ? */
.titulo-principal:first-letter {
    font-weight: bold;
}

/* "before" e "after" junto com content, incluem um elemento CSS nao selecionavel no HTML */
.titulo-principal::before {
    content: "[ ";
}

.titulo-principal::after {
    content: " ]";
}


.beneficios {
    margin: 0 150px 0 150px;
    padding: 20px;
    padding-top: 0;
}

h3 {
    text-align: center;
}

.beneficios {
    width: 640px;    
    margin: 0 auto;
}

.ul-beneficios {
    width: 40%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
   /* Permite colocar texto do lado de imagem 
    width: 50%;
    margin-right: 15%;   */
    list-style: none; /* retira a marcação padrao da lista CSS */
}

.itens {
    line-height: 2.1; /* espaço entre as linhas da lista */
    font-style: italic;
    text-align: left;
}

.itens::before {
    content: "★ ";
}

/* pseudo elemento para marcar o primeiro item da lista e colocar uma propriedade */
/* :nth-child(3) seleciona o 3 item da lista */
/* :nth-child(2x) seleciona apenas os itens pares 
.itens:first-child {
    font-weight: bold;
}
*/

.img-beneficios {
    width: 30%;
    margin: 0 auto;
    opacity: 0.5;
    border-radius: 20px;
    transition: 1.5s;
    box-shadow: 10px 10px 5px 0 lightgrey;
    /* tag para colocar compra, com valores "x y blur intensidade cor" 
    podemos adicionar outras sombras apenas colocando "," e os valores da prox sombra
    --- Para sombras internas, colocamos "inset" apos a tag.... "box-shadown: inset 0 0 30px red" 
    --- Para sombras em textos, utilizamos a tag "text-shadow". */
}

.img-beneficios:hover {
    opacity: 1.0;
}

.mapa {
    padding: 3em 0;
    width: 70%;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 3em auto;
}

footer {
    background: url(../img/bg.jpg);
    padding: 30px;
    color: white;
    text-align: center;
}

.bannerwhite {
    width: 15%;
    display: flex;
    /* alinha intem junto com o "maring  0 auto" */
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    header {
        background-size: 150%;
    }
  
    .caixa, .principal, .video {
        width: auto;
    }

    .caixa {
        display: flex;
    }

    .banner {
        width: 50%;
        height: 40%;
        display: inline-block;
        padding-left: 10px;
        margin: auto;
    }

    nav {
        position: static;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        text-decoration: underline;
        line-height: 1.7;
    }

    .menugeral {
        padding: 0 10px 0 5px;
    }

    h1 {
        text-align: center;
    }

    .principal {
        padding: 0 20px;
    }

    .titulo-principal {
        font-size: x-large;
    }

    .beneficios, .img-beneficios {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .ul-beneficios {
        padding-bottom: 2em;
        margin-left: 20%;
    }    

    .bannerwhite {
        width: 70%;
    }

}

/* seletores avancados 

- ">" seleciona a primeira tag p
main > p {
    background: red;
}

- "+" seleciona a primeira tag p apos a tag img
 img  + p {
    background: blue;
 }

 - "~" seleciona todas as tags p apos a tag img
 img ~ p {
    background: yellow
 }

 - selecionar todos, mas colocando uma excessao da "id missao"
.principal p:not(#missao) {
    background: orang;
}

--- calculo de tamanho pelo css ---

 .img-fundo {
    with: calc(40% - 26px);
 }

*/